<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css"
          integrity="sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h1>CRUD PREVISIONS</h1>
<h2 th:text="'Ciutat seleccionada: '+${ ciutat }"></h2>
<div>
    <table>
        <tr>
            <th>Dia</th>
            <th>Temperatura</th>
            <th>Previsió</th>
        </tr>
        <tr th:each="previsio : ${previsions}">
            <form action="/modificarView">
            <td th:text="${ previsio.dia }"></td>
            <td th:text="${ previsio.temps }"></td>
                <td th:switch="${previsio.icona}">
                    <i th:case="solejat" class="wi wi-day-sunny"></i>
                    <i th:case="nuvols" class="wi wi-day-cloudy"></i>
                    <i th:case="pluja" class="wi wi-day-rain"></i>
                    <i th:case="vents" class="wi wi-day-windy"></i>
                    <i th:case="apocalipsis" class="wi wi-meteor"></i>
                </td>
                </i><button type="submit">Modificar una nova previsió</button>
                <input th:value="${ previsio.dia }" type="hidden" name="dia">
                <input th:value="${ ciutat }" type="hidden" name="ciutat">
            </form>
            <form action="/eliminar">
                <input th:value="${ previsio.dia }" type="hidden" name="dia">
                <input th:value="${ ciutat}" type="hidden" name="ciutat">
                <button type="submit">Eliminar</button>
            </form>
        </tr>
    </table>
    <div class="insertarPrevisio">
        <form action="/insertarView">
            <input th:value="${ ciutat }" type="hidden" name="ciutat">
            <button type="submit">Insertar una nova previsió</button>
        </form>
    </div>
</div>

</body>
</html>